:root {
    --colorMain--blue: #0e1133;
    --colorMain--pink: #ff3e66;
    --colorMain--tBlue: #2a6df5;
    --colorMain--gray: #eef1f6;
}

.price {
    text-align: center;
}

.price .containor .content h3 {
    font-size: 50px;
}

.price .containor .content p {
    font-size: 25px;
    color: #666;
}

.price .containor .content .btn {
    color: #666;
    width: 230px;
    border: 2px solid #666;
    padding: 5px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.price .containor .content .btn .special {
    color: var(--colorMain--gray);
    background-color: var(--colorMain--pink);
    border-radius: 25px;
    padding: 10px;
}

.price .containor .content .boxCard {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 600px;
    column-gap: 30px;
}

.price .containor .content .boxCard .c1 {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #eee;
    padding: 35px;
}

.price .containor .content .boxCard .c1 h6 {
    text-align: start;
    margin-left: 30px;
    font-size: 24px;
}

.price .containor .content .boxCard .c1 h4 {
    font-size: 25px;
    font-weight: 400;
}

.price .containor .content .boxCard .c1 h4 span {
    font-size: 45px;
}

.price .containor .content .boxCard .c1 p {
    font-size: 20px;
    position: relative;
}

.price .containor .content .boxCard .c1 p::after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -9px;
    height: 2px;
    background-color: #d8d8d8;
}

.price .containor .content .boxCard .c1 .adv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 22px;
    margin-bottom: 25px;
}

.price .containor .content .boxCard .c1 .adv small {
    color: var(--colorMain--blue);
}

.price .containor .content .boxCard .c1 .adv small i {
    margin-right: 15px;
    color: var(--colorMain--tBlue);
    background-color: #c3d3f4;
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
}

.price .containor .content .boxCard .c1 a {
    background: #f7f7f7;
    color: var(--colorMain--blue);
    font-size: 20px;
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0 12px 30px rgb(0 0 0 / 10%);
    border: 2px solid #d9d9da;
    transition: 0.5s;
    display: inline-block;
}

.price .containor .content .boxCard .c1 a:hover {
    box-shadow: 0px 18px 35px rgba(0, 0, 0, 20%);
}

.price .containor .content .boxCard .s {
    background-color: #eee;
}

.price .containor .content .boxCard .s .adv small i {
    background-color: rgb(199, 255, 114);
    color: green;
}

.price .containor .content .boxCard .s a {
    background-color: var(--colorMain--tBlue);
    color: var(--colorMain--gray);
}